# Precipitation Study

Your team are researchers working on precipitation data collected from 1998 to 2004. You are required to design a model to forecast precipitation to inform farmers when it is appropriate to cultivate.

This EDA challenge is the first step to preparing the data for forecast and your team is required to present your insights before moving on to development of the model.

The dataset to be used: eighthr.data, eighthr.names

## You are constrained to use seaborn and matplotlib only for your plots

In [1]:
## Load the right packages
import warnings
warnings.filterwarnings('ignore')

C:\Users\20193820\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Data Transformation

## 1. Load data with header

In [2]:
### load data which doesnt have a header, specify header=None

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,72,73
0,1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1,1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0

In [3]:
### load data of the header

                       1  0 | two classes 1: ozone day   0: normal day
0      Date:     ignore.                           NaN             NaN
1  WSR0:     continuous.                           NaN             NaN

In [4]:
### Removing useless info like the ignore and continuous in the table above
### fit the heeader on the data

,Date,WSR0,WSR1,WSR2,WSR3,WSR4,WSR5,WSR6,WSR7,WSR8,...,RH50,U50,V50,HT50,KI,TT,SLP,SLP_,Precp,ozone day
0,1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1,1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
2,1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0

## 2. Transform data

RH50: Relative Humidity at 50hpa level

U70: U wind - east-west direction wind at 700 hpa

V50:V wind - N-S direction wind at 50 hpa

Precp: Precipitation

In [5]:
## Create a new data df_m by selecting 'Date','RH50','RH70','U50','U70','V50','V70','Precp'
## replace '?' with '0' in the dataframe 
## convert the columns to float except date

df_m.head(3)

       Date  RH50  RH70    U50   U70   V50   V70  Precp
0  1/1/1998  0.15  0.30  10.67  7.18 -1.56  0.12    0.0
1  1/2/1998  0.48  0.96   8.39  8.24  3.84  7.30    0.0
2  1/3/1998  0.60  0.54   6.94  3.80  9.80  4.42    0.0

# Data Visualization

## 3. Visualize the pairplot for all columns except Date

In [7]:
# Remember seaborn plot

Describe insights with respect to the variables correlation to your target variable

# Statistics

## 4. Spearmanr correlation test on all variables to Precp

H0: two samples are correlated

H1: not correlated

In [9]:
### Check the spearnmans correlation for all variables to precipitation
## Print the T statistics, p-value for each variable
## Pick out the 3 top correlated variables

# Statistical Modelling

## 5. Ordinary Least Squares

OLS is an estimator of unknown parameters in a linear regression

In [ ]:
### Get 3 top variables and replace in var1,Var2,Var3
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Precp ~ Var1+ Var2+ Var3', data=df_m).fit()
model.summary()

In [ ]:
res = model.resid 
fig = sm.qqplot(res, line='s')
plt.show()

Looking at the error plot, what can you say about the model?

## 6. Test for Goodness of Fit

Here, you are presented 3 assumptions of OLS and if all are met then the model is a goodfit

In [14]:
########### 1. Independence variables dont correlate with error
## correlation of the independent variables to the error
## print the correlation score

In [16]:
################ 2. Mean of error is zero
## mean of the error

In [17]:
############## 3. Mean Squared Error is small
## value of mse

Is the OLS model a goodfit?

# Presentation

In your presentation, concentrate on the following:

- Data transformation 
- Correlation plot and test
- Model and goodfit

Will you use the OLS model or another ML model? give reasons